<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
  </head>
  <body>

    <script>

      let enableMouseEnter = true;

      async function showIdOver(id){
        if(enableMouseEnter){
        let td = document.getElementById(id);
        let span = td.querySelector('span');

        
        
        await fetch('/showIdOver/'+id)
        .then(response => response.text())
        .then(data => {
          
          span.innerHTML = data;
        })
        .catch(error => console.error('Error:', error));
        

        }
      }



      function sidebar_open(){
        document.getElementById('sidebar').style.visibility='visible';
      }

      function sidebar_close(){
        document.getElementById('sidebar').style.visibility='hidden';
      }

      async function openPopup(id){
        enableMouseEnter = false;
        let popupWindow = document.getElementById("popup-window");
        let popup_main = document.getElementById('popup-main');
        let site = document.getElementById('site');
        let body = document.getElementById('web');
        body.style.background = 'rgba(169, 169, 169, 0.8)';
        site.style.opacity = 0.3;

        popupWindow.style.display = "block";


      // Show the pop-up window when the link is clicked
        
      // Hide the pop-up window when the close button is clicked
      
      const data = await fetch('/showMoreInfo/'+id)
        .then(response => response.text())
        .catch(error => console.error('Error:', error));

        popup_main.innerHTML = data;
       }

      function closePopup(){
        enableMouseEnter = true;
        var popupWindow = document.getElementById("popup-window");
        let site = document.getElementById('site');
        site.style.opacity = 1;
        popupWindow.style.display = "none";
      }

      function selectParking(){
          const select = document.getElementById('parking_layer');
          let table = document.getElementById('tg');
          let value = select.value;

          if(value === 'left'){
            fetch('/getParking/left')
            .then(data => data.text())
            .then(data => {
              table.innerHTML=data;
            })
          }else{
            fetch('/getParking/right')
            .then(data => data.text())
            .then(data => {
              table.innerHTML=data;
            })
          }

      }

       
    </script>
<div id="web">
<div id="popup-window">
  <div class="popup-header">
    <button id="close-button" onclick="closePopup()">✖</button>
  </div>
  <div id="popup-main">
    
      
  </div>
</div>   
  <div class="site" id="site">

    

    <div class="header">
      <button class="sidebar_button_open" onclick="sidebar_open()">☰</button>
      <select name="parking_layer" id="parking_layer" onchange="selectParking()">
        <option value="left">Lewa strona</option>
        <option value="right">Prawa strona</option>
      </select>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
      <h3><%- names %></h3>
    </div>
    <div class="site_content">

  <div class="sidebar" id="sidebar">
    <button onclick="sidebar_close()" class="sidebar_button_close">Zamknij ✖</button>
    <br>
    <a href="/" class="w3-bar-item">Strona główna</a>
    <br>
    <a href="/users/1" class="w3-bar-item">Użytkownicy</a>
    <br>
    <a href="/ustawienia" class="w3-bar-item">Ustawienia konta</a>
  </div>

  <div class="table">
  <table class="tg" id="tg">
    <%- table%>
  </table>

  </div>
    </div>

    <div class="footer">
      <p>....</p>
    </div>
  </div>
</div>



  </body>
</html>
