<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<div id="web">
  

  <div class="site" id="site">

    <div class="header">
      
    </div>
    <div class="site_content">

  <div class="table">
    <form action="/logowanie" method="post">
        <p>Email: <input type="text" name="email"></p>
        <p>Hasło: <input type="password" name="password"></p>
        <button type="submit">Zaloguj</button>
    </form>

  </div>
    </div>

    <div class="footer">
      <p>....</p>
    </div>
  </div>
</div>


  </body>
</html>
