<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <script>
      
      window.onload((saved)=>{
          if(saved){
            document.getElementById('saved').innerHTML = "<p>Saved!<p>";
            document.getElementById('saved').style.visibility = 'visible';

            setTimeout(()=>{
              document.getElementById('saved').style.visibility = 'hidden';
            },3000);
          }
      })

      function showIdOver(id){
        fetch('/users/getMoreUserInfo/'+id)
        .then(response => response.text())
        .then(data => {
          let popup_window = document.getElementById('popup-window');
          let popup_main = document.getElementById('popup-main');
          let site = document.getElementById('site');
          let body = document.getElementById('web');

          popup_main.innerHTML = data;
          popup_window.style.display = 'block';
          popup_window.style.zIndex=2;
          body.style.background = 'rgba(169, 169, 169, 0.8)';
          site.style.opacity = 0.3;
        })
        .catch(error => console.error('Error:', error));
      }

      function sidebar_open(){
        document.getElementById('sidebar').style.visibility='visible';
      }

      function sidebar_close(){
        document.getElementById('sidebar').style.visibility='hidden';
      }

      function closePopup(){
        var popupWindow = document.getElementById("popup-window");
        let site = document.getElementById('site');
        site.style.opacity = 1;
        popupWindow.style.display = "none";
      }
    </script>
<div id="web">
  <div id="saved" style="visibility:hidden;"></div>

  <div id="popup-window">
    <div class="popup-header">
      <button id="close-button" onclick="closePopup()">✖</button>
    </div>
    <div id="popup-main">
        <div id="loading-spinner">
          <div class="spinner">
  
          </div>
        </div>
    </div>
  </div> 

  <div class="site" id="site">

    <div class="header">
      <button class="sidebar_button_open" onclick="sidebar_open()">☰</button>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
      <h3>Jan Kowalski</h3>
    </div>
    <div class="site_content">

  <div class="sidebar" id="sidebar">
    <button onclick="sidebar_close()" class="sidebar_button_close">Close &times;</button>
    <br>
    <a href="/" class="w3-bar-item">Strona główna</a>
    <br>
    <a href="/users" class="w3-bar-item">Użytkownicy</a>
    <br>
    <a href="#" class="w3-bar-item">Link 3</a>
  </div>

  <div class="table">
    <table class="tg">
      <thead>
        <tr>
          <th>Id</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th>Numer</th>
          <th>Miejsce</th>
          <th>Data ostatniej płatności</th>
          <th>Data następnej płatności</th>
        </tr>
      </thead>
      <tbody>
        <%- userTable%>
      </tbody>
    </table>

  </div>
    </div>

    <div class="footer">
      <p>....</p>
    </div>
  </div>
</div>


  </body>
</html>
